* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.search-form {
  margin-left: 76px;
  margin-right: 30px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  min-width: 620px;
  flex-grow: 1;
  position: relative;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px;
}

.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0px 18px;
  cursor: pointer;
}

.auth {
  margin-left: auto;
}

.login {
  background: #EBEBEB;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.shopping-cart {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #F66A15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
}

.shopping-counter {
  position: absolute;
  background: #FFAF19;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  display: block;
  padding: 5px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.slide {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 100px;
}

.slide-text-light {
  background-color: gray;
  color: #fff;
}

.slide-content {
  position: relative;
  max-width: 400px;
}

.slide-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: bold;
  font-size: 50px;
  line-height: 51px;
}

.slide-text {
  font-style: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}

.button-primary {
  background-color: #F47322;
  color: #fff;
}

.button-default {
  background-color: #fff;
  color: #5F5F61;
}

.button {
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.slide-summer {
  background-image: url("../img/image-slider1.png");
}

.slide:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
  display: flex;
  justify-content: space-between;
  margin: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  flex: 50%;
  margin: 20px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:before {
  z-index: -1;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-text-light {
  color: #fff;
}

.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}

.card-prise {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}

.card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}

.delivery-week {
  padding: 100px 0;
}

.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery-card {
  margin: 15px;
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}

.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  padding: 5px 10px;
}

.tag-health {
  background: #d0fd89;
}

.tag-vegetable {
  background: #AEBC41;
}

.tag-meat {
  background: #B86B78;
}

.tag-bird {
  background: #D68334;
}

.tag-fish {
  background: #CD6255;
}

.tag-baby {
  background: #FFFDBF;
}

.tag-parents {
  background: #F6FDC8;
}

.tag-festive {
  background: #FEF7FE;
}

.section-gray {
  background: #F6F6F6;
}

.categoty {
  padding-top: 40px;
  padding-bottom: 60px;
}

.tabs-card{
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;

}

.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 62px;

}

.tabs-link {
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  color: #49494F;
  margin-right: 58px;
}

.tabs-content {
  display: flex;
  margin: -15px;
}

.tabs-card {
  margin: 30px;
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.tabs-link.active {
  color: #F37321;
}

.tabs-image {
  max-width: 100%;
}

.tabs-card-content {
  padding: 23px;
}

.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #B9B9BE;
}

.tabs-info  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4B4B51;
  display: block;
  margin-bottom: 5px;
}

.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AAAAB1;
}

.button-outline {
  cursor: pointer;
  background-color: transparent;
  padding: 15px 25px;
  border: 2px solid #F37321;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F37321;
}

.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

.benefits-cards {
  padding-bottom: 210px;
}

.benefit-title {
  margin-top: 100px;
  margin-bottom: 52px;
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
}

.benef-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -15px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 270px;
  height: 296px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  overflow: hidden;
  margin-left: 15px;
  padding-top: 30px;
}

.benefit-image {
  margin: auto;
  width: 60px;
  height: 60px;
}

.benefit-content {
  padding: 25px 24px;
}

.benefits-content-title {
  padding: 0 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.benefit-content-descripion {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494F;
}



/*footer*/

.footer {
  padding: 40px 0;
  background: #F6F6F6;
  margin-bottom: 9px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 50px;
}

.footer-link {
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 50px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-link{
  margin-left: 20px;
  text-decoration: none;
}

